<div class="center">
  <h3 class="middle">Login</h3>

  <div class="middle">
    <input
      class="string"
      #loginUser (keyup.enter)="login(loginUser.value, loginPasswd.value)"
      placeholder="login"
      >

    <input
      class="string"
      type="password"
      #loginPasswd (keyup.enter)="login(loginUser.value, loginPasswd.value)"
      placeholder="********"
      >
  </div>

  <div class="middle" style="margin-top: 15px">
    <button (click)="login(loginUser.value, loginPasswd.value)">Login</button>
  </div>

  <div style="margin-top: 35px">
    <h3 class="middle">No account? Sign up!</h3>
    <div class="middle">
      <button (click)="createAccountRedirect()">Sign Up</button>
    </div>
  </div>
</div>
