<mat-drawer-container class="example-container">
  <mat-drawer #drawer class="example-sidenav" mode="over">
    <div class="sidebar">
      <div *ngIf="getLogin != null; else notLogged">
        <p>Logged as {{ getLogin }}</p>
      </div>

      <ng-template #notLogged>
        <p>You are not logged in</p>
      </ng-template>
    </div>
  </mat-drawer>


  <div class="side-nav-body">
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span> {{ title }} </span>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
