mat-drawer-container {
    height: 100%;
    width: 100%;
}

mat-sidenav {
    white-space: nowrap;
    display: flex;
}

mat-drawer.sidenav {
    white-space: nowrap;
    width: 25%;
}

div.sidebar {
    margin-top: 10px;
    margin-left: 10px;
    width: 95%;
}

div.side-nav-body {
    height: 100%;
}
