<mat-drawer-container class="sidenav-container full-width full-height">
  <mat-drawer #drawer class="sidenav" mode="over">

    <div class="sidebar">
      <app-theme class="middle"></app-theme>
      <div *ngIf="getLogin != null; else notLogged">
        <h3>Logged as {{ getLogin }}</h3>
        <button mat-raised-button color="accent" (click)="logout()">Logout</button>
      </div>

      <ng-template #notLogged>
        <h3>You are not logged in.</h3>
      </ng-template>
    </div>
  </mat-drawer>


  <div class="side-nav-body full-width full-height">
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span> {{ title }} </span>
    </mat-toolbar>

    <div class="main-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>
