/* You can add global styles to this file, and also import other style files */
div.center {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.middle {
    display: flex;
    justify-content: center; /* center horizontal */
    align-items: center; /* center vertical */
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
