<h3></h3>

<button (click)="fetchScoreboard()">Refresh Scoreboard</button>

<div *ngIf="scoreboard != null; else noScoreboard">
  <table class="scoreboard" width="100%">
    <tr class="header">
      <th class="name">Name</th>
      <th class="score">Score</th>
    </tr>
    <tr *ngFor="let player of scoreboard.scoreboard | keyvalue">
      <th>{{ player.key }}</th>
      <th>{{ player.value }}</th>
    </tr>
  </table>
</div>

<ng-template #noScoreboard
  class="full-height full-width"
>
  <div class="no-scoreboard">
    <h3 width="100%">No scoreboard to display</h3>
  </div>
</ng-template>
