<div class="center">
  <h3 class="middle">Sign Up</h3>

  <div>
    <input
      class="string"
      #signupUser (keyup.enter)="signup(signupUser.value, signupPasswd.value)"
      placeholder="login"
    >

    <input
      class="string"
      type="password"
      #signupPasswd (keyup.enter)="signup(signupUser.value, signupPasswd.value)"
      placeholder="********"
    >
  </div>

  <div class="middle" style="margin-top: 15px">
    <button mat-raised-button color="primary" (click)="signup(signupUser.value, signupPasswd.value)">Sign Up</button>
  </div>

  <div style="margin-top: 35px">
    <h3 class="middle">Already have an account? Log in!</h3>
    <div class="middle">
      <button mat-raised-button color="accent" (click)="loginRedirect()">Log in</button>
    </div>
  </div>
</div>
